body{
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: none;
}

.sky{
    background-color: blue;
    flex: 2;
}

.grass{
    background-color: green;
    flex: 1;
}